
<table class="table">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Manager</th>
      <th>Controls</th>
    </tr>
    <tr *ngFor="let dep of departments">
      <td>{{dep.name}}</td> 
      <td>{{dep.address}}</td>
      <td>{{dep.managerLogin}}</td>
      <td><span (click)="editDepartment(dep)">edit</span>|<span (click)="deleteDepartment(dep)">delete</span></td>
    </tr>
  </table>
  <app-departments-form *ngIf="showDepartmentsForm" 
      [department]="selectedDepartment" 
      [users]="users" 
      [forEdit]="forEdit"
      (onDepartmentSave)="onDepartmentSave($event)"
      (onDepartmentUsersDelete)="onUpdateUsers($event)"
  ></app-departments-form>
<button type="button" (click)="openAddForm()" class="btn btn-sm btn-primary" 
   *ngIf="!showDepartmentsForm">Add department</button>