 customers works!
<div class="row">
    <div class="col-md-6">
            <button type="button" (click)="openAddForm()">Add Customer</button>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Comments</th>
                <th>Type</th>
                <th>Controls</th>
            </tr>
            <tr *ngFor="let customer of customers">
                <td>{{customer.name}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.comments}}</td>
                <td>{{customer.type}}</td>
                <td>{{customer.numberOfSchools}}</td>
      
                        <td><span (click)="editCustomer(customer)">edit</span>|delete</td>
                        
            
            </tr>
        </table>
    </div>
    <div class="col-md-6">
       
        <app-customer-main-form *ngIf="showCustomersForm"
            [customer]="selectedCustomer"
            [customerTypes]="customerTypes"
            (onCustomerSave)="onCustomerSave($event)"
            ></app-customer-main-form>      
        
        
    </div>
</div>