<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
                    <button type="button" (click)="openAddForm()" class="btn btn-sm btn-success">Add Customer</button>
                    
            </div>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Comments</th>
                    <th>Type</th>
                    <th>NumberOfSchools</th>
                    <th>Controls</th>
                </tr>
                <tr *ngFor="let customer of customersForTable">
                    <td>{{customer.name}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.comments}}</td>
                    <!--td>
                        <span *ngFor="let type of customerTypes">
                            <span *ngIf="type.id==customer.type">{{type.title}}</span>
                        </span>
                        
                    </td-->
                    <td>{{customer.type}}</td>
                    <td>{{customer.numberOfSchools}}</td>
                    <td><span (click)="editCustomer(customer)">edit</span>|<span (click)="deleteCustomer(customer)">delete</span></td>
                            
                
                </tr>
            </table>
        </div>
        <div class="col-md-12">
           
            <app-customer-main-form *ngIf="showCustomersForm"
                [customer]="selectedCustomer"
                [customerTypes]="customerTypes"
                [forEdit]="forEdit"
                (onCustomerSave)="onCustomerSave($event)"
                ></app-customer-main-form>      
            
            
        </div>
    </div>
</div>
