<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <span *ngIf="!isLoggedIn">
      <a routerLink="/login" class="btn btn-primary">Login</a>
  </span>
  <span *ngIf="isLoggedIn">
      <a routerLink="/userpanel" class="btn btn-primary" *ngIf="!isAdmin">UserPanel</a>      
      <a routerLink="/customers" class="btn btn-primary" *ngIf="isAdmin">Customers</a>
  </span>


 <button class="btn btn-primary" *ngIf="isLoggedIn" (click)="logout()">Log out</button>
 
  <router-outlet></router-outlet>


</div>

